$Adv-photo: "../images/bg-masthead.jpg";
$box2-photo: "../images/bg-showcase-1.jpg";
$box4-photo: "../images/bg-showcase-2.jpg";
$box6-photo: "../images/bg-showcase-3.jpg";
$box8-photo: "../images/bg-showcase-3.jpg";
$Img1-photo: "../images/testimonials-1.jpg";
$Img2-photo: "../images/testimonials-2.jpg";
$Img3-photo: "../images/testimonials-3.jpg";
$Img4-photo: "../images/device80.png";
$Img5-photo: "../images/stack80.png";
$Img6-photo: "../images/OK80.png";
$Fsizep-points: 15px;
$Soc1-photo: "../images/FB.png";
$Soc2-photo: "../images/TW.png";
$Soc3-photo: "../images/Insta.png";
$But-color: rgba(0, 123, 255, 255);
$Bac-color1: rgba(248, 249, 250, 255);
$Bacg-color: white;
